<!-- Navbar -->
<nav class="navbar">
    <div class="nav-left">
        <img src="{{ url_for('static', filename='pics/SSC4.ico') }}" alt="SSC" class="nav-img">
            <div class="logo">Supreme Student Council Administrator Management</div>
        </div>

        <!-- Navbar -->
        <div class="nav-links">
        <button type="button" onclick="location.href='{{ url_for('accounts') }}'" class="nav-link">
            <span class="material-icons-outlined">supervisor_account</span> Accounts Set Up
        </button>
        <button type="button" onclick="location.href='{{ url_for('transaction_admin') }}'" class="nav-link">
            <span class="material-icons-outlined">assessment</span> Transaction Set Up (Administrator)
        </button>
        <button type="button" class="nav-link" onclick="openSettings()">
            <span class="material-icons-outlined">settings</span> Settings
         </button>
        <button type="button" onclick="location.href='{{ url_for('index') }}'" class="nav-link">
            <span class="material-icons-outlined">logout</span> Logout
        </button>
    </div>
</nav>