<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SSC Financial Management{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='pics/SSC4.ico') }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/member.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout_grid_box.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
</head>
<body>
    <!-- Sidebar Overlay -->
    <div id="sidebar-overlay" onclick="closeSidebar()"></div>

    <!-- Header -->
    <header class="header">
        <span class="material-icons-outlined" id="menuToggle" onclick="toggleSidebar()">menu</span>
        
        <!-- Username Display with Profile Icon -->
        <div class="header-user">
            <span class="material-icons-outlined">account_circle</span>
            <span class="header-username"> {{ username }}</span>
        </div>
    </header>

    <!-- Sidebar -->
    {% include "payment_nav.html" %}

    <!-- Main Content -->
    <main class="main-container">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
        {% include "footer.html"%}
    <!-- End Footer -->

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>
