<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SSC Financial Management{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='pics/SSC4.ico') }}">

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout_grid_box.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_template.css') }}">
</head>
<body>

    <!-- End Header -->

    <!-- Sidebar -->
        {% include "treasurer_nav.html" %}
    <!-- End Sidebar -->

    <!-- Main Content -->
    <main class="main-container">
        {% block content %} {% endblock %}
    </main>
    <!-- End Main -->

    <!-- Footer -->
        {% include "footer.html"%}
    <!-- End Footer -->

  <!-- Optional JS to change hint dynamically -->
  <script src="{{ url_for('static', filename='js/.js')}}"></script>
  <script src="{{ url_for('static', filename='js/.js')}}"></script>
</body>
</html>
