{% extends "operating_activities.html" %}

{% block title %}Operating Activities - SSC Financial Management{% endblock %}

{% block content %}
<div class="main-title">
  <h2>CASH FLOWS OPERATING ACTIIVITIES</h2>
</div>

<div class="boxes-wrapper">
  <div class="box-container">
    <!-- ===== INPUT BOX LAYOUT ===== -->
    <div class="input-box-container">
        <input type="text" id="descriptionInput1" placeholder="Enter Description" />
        <input type="text" id="amountInput1" placeholder="Enter Amount" />
        <button id="addBtn1">➕ Add</button>
    </div>
  </div>

  <div class="box-container">

</div>
{% endblock %}
